*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.hero {
    width: 100%;
    min-height: 2000px; /* Set to your image's height */
    background-image: url("https://media.discordapp.net/attachments/1423555812248387725/1423579508509900851/IMG_20250929_152357.jpg?ex=68e0d33b&is=68df81bb&hm=c4b2fd90b012665fb0e943c0ed8a533dd22e658eb643625904dcd7f5bf1c6434&=&format=webp&width=486&height=647");
    background-position: top center;
    background-size: contain; /* Show full image */
    background-repeat: no-repeat;
    padding: 50px 10%;
}
nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px
}
nav ul li a{
    text-decoration: none;
    color: #FAF9F6;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s;
}